/* Themes */
:root {
    --background-dark: #1f1f1f;
    --background-light: #e4e4e4;
    --font-dark: #ffffff;
    --font-light: #121212;
    --card-dark: #272727;
    --card-light: #d4d4d4;
    --button-color-dark: #0a0a0a;
    --button-color-light: #f1f1f1;
    --header-dark: #444444;
    --header-light: #cccccc;
    --highlight-dark: #ffffff;
    --highlight-light: #000000;
    --overlay-dark: rgba(0, 0, 0, 0.8);
    --overlay-light: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] {
    --background: var(--background-dark);
    --font-color: var(--font-dark);
    --card-bg: var(--card-dark);
    --button-bg: var(--button-color-dark);
    --header-bg: var(--header-dark);
    --highlight-color: var(--highlight-dark);
    --overlay-bg: var(--overlay-dark);
}

[data-theme="light"] {
    --background: var(--background-light);
    --font-color: var(--font-light);
    --card-bg: var(--card-light);
    --button-bg: var(--button-color-light);
    --header-bg: var(--header-light);
    --highlight-color: var(--highlight-light);
    --overlay-bg: var(--overlay-light);
}

/* General body styling */
body {
    background-color: var(--background);
    font-family: 'JetBrains Mono', monospace;
    color: var(--font-color);
}

/* SVG container */
#svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

/* SVG images */
.svg-image {
    margin: 0 20px;
    background-color: var(--card-bg);
    border-radius: 6px;
    background-color: #ffffff;
}

.select-flat {
    width: auto;
    cursor: pointer;
    text-align-last: center;
    background: transparent;
    border-color: var(--font-color);
    -webkit-appearance: none;
}

/* Card styling */
.card {
    background-color: var(--card-bg);
}

.card-body {
    background-color: var(--header-bg);
    color: var(--font-color);
    border-radius: 3px;
    padding: 20px;
}

.card-header {
    background-color: var(--header-bg);
    border-bottom: 2px solid var(--card-bg);
    cursor: pointer;
    padding: 10px;
}

.card-header h4 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}

.card-header .fa-chevron-up {
    transition: transform 0.3s ease;
}

.card-header.collapsed .fa-chevron-up {
    transform: rotate(-180deg);
}

/* Choice container */
.choice-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: var(--header-bg);
}

.choice-element {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.mini-pictogram {
    width: 50px;
    height: 50px;
}

.choice-symbol {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

/* Log container */
#log-container {
    background-color: var(--card-bg);
    color: var(--font-color);
    padding: 15px;
    border-radius: 8px;
}

#log-list {
    max-height: 250px;
    overflow-y: auto;
    margin-bottom: 0;
}

.highlight {
    font-weight: bolder;
    color: var(--highlight-color);
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.overlay-content {
    background-color: var(--header-bg);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: var(--font-color);
}

.overlay-content h2 {
    margin-bottom: 20px;
}

.form-control {
    background-color: var(--background);
    color: var(--font-color);
}

.overlay-content .form-control {
    border: none;
}

/* Buttons */
.btn {
    background-color: transparent;
    color: var(--font-color);
}
.overlay-content .btn {
    margin-top: 10px;
}

.compare-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--header-bg);
    background-color: var(--button-bg);
}

.compare-button {
    &:hover {
        color: var(--font-color);
        border: 1px solid var(--font-color);
    }
}


#top-btn-container {
    display: flex;
    justify-content: end;    
}

#theme-toggle-btn {
    z-index: 1000;
}

#download-sessions-btn:hover {
    color: #007bff;
}

#logout-btn:hover {
    color: #ff0000;
}

#infoCard {
    margin-top: 75px;
}

#keyboard-info {
    padding: 8px;
    font-size: 14px;
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0.65;
}

#keyboard-info.fade-out {
    opacity: 0;
}

@media (pointer: coarse) {
    #keyboard-info {
        display: none;
    }

    .btn {
        &:hover {
            background-color: var(--background);
            color: var(--font-color);
        }
    }
}

@media (pointer: fine) {
    #keyboard-info {
        display: block;
    }
}

#session-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 100px;
}

#recording-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 30px;
}

.recording-dot {
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    animation: blink 1s infinite;
    margin-right: 10px;
}

#elapsed-time {
    font-size: 18px;
    color: var(--font-color);
}

/* Blink Animation */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
